.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  margin-left: 10px;
  font-weight: 500;
  color: black;
}
.link:hover {
  color: tomato;
  cursor: pointer;
}

.activeLink {
  color: teal;
}
