.divItem {
  display: flex;

  margin-bottom: 10px;
  justify-content: center;
}
.liItem {
  min-width: 250px;
}
.btn {
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 0px 15px;
  margin-left: 10px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #e48f3f;
  color: black;
}
.list {
  text-align: center;
}
